*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: beige;
}
header h1{
    text-align: center;
    color: rgb(101, 83, 60);
    font-size: 40px;
    padding: 15px;
}
.menu{
    background-color: rgb(101, 83, 60);
    margin: 10px;
    padding: 10px;
    text-align: center;
}
.sub-menu{
    background-color: rgb(101, 83, 60);
    padding: 7px;
}
.menu ul li{
    list-style-type: none;
    display: inline-block;
    color: azure;
    font-size: 28px;
    margin: 5px;
    position: relative;
}
.menu ul li:hover{
    color: rgb(48, 39, 28);
    font-weight: bold;
}
.menu ul li:hover > ul{
    display: block;
}
nav ul li a{
    text-decoration: none;
    color: azure;
}
.chorizo{
    margin-left: 10px;
    width: 40%;
}

.girar{
    animation-name: chorizo-gira;
    animation-duration: 10s;
    animation-iteration-count:infinite;
    animation-timing-function: linear;
}

@keyframes chorizo-gira{
    from{
        transform: scale(0.8);
    }

    to{
        transform: scale(1);
    }
}

footer h2{
    text-align: center;
    margin: 300px;
}
